
*.zip

sources/source-sans-pro-release/bower.json

sources/source-sans-pro-release/EOT/SourceSansPro-BlackIt.eot

*.eot

*.otf

sources/source-sans-pro-release/ReadMe.html

sources/source-sans-pro-release/LICENSE.txt

sources/source-sans-pro-release/README.md

*.css

sources/source-sans-pro-release/SourceSansProReadMe.html

*.woff

sources/source-sans-pro-release/TTF/SourceSansPro-SemiboldIt.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-Semibold.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-Regular.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-LightIt.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-Light.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-It.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-ExtraLightIt.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-ExtraLight.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-BoldIt.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-Bold.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-BlackIt.ttf

sources/source-sans-pro-release/TTF/SourceSansPro-Black.ttf
